h1,
p {
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  padding: 0 auto;
  float: auto;
  font-family: ' Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
.nav-container {
  width: 100%;
  background-color: rgba(54, 102, 102, 0.877);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
}
ul {
  list-style: none;
}
li {
  cursor: pointer;
}
span {
  cursor: pointer;
}
.logoContainer {
  font-size: 40px;
  color: rgb(228, 154, 43);
}
.menuContainer {
  position: relative;
}
.menulistContainer {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: aquamarine; */
  padding: 0 1rem;
}
.menuList {
  color: rgb(228, 154, 43);
  font-size: 20px;
}
.floatingNavbar {
  width: 100%;
  width: fit-content;
  position: absolute;
  top: 100%;
  transition: all ease-in-out 200ms;
}
.subMenus {
  min-width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: rgba(53, 51, 51);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  position: relative;
  transition: width ease-in-out 900ms;
  position: relative;
  box-shadow: 1px 8px 4px 0 rgba(155, 155, 155, 0.685);
}
.subMenus span {
  box-sizing: border-box;
  padding: 8px 1rem;

  position: relative;
}
.subMenus span:hover {
  color: aqua;
}

.arrow {
  position: absolute;
  bottom: -8px;
  color: rgb(253, 253, 253);
  transition: all ease-in-out 200ms;
}
.btnContainer {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  outline: none;
  font-weight: bold;
  background-color: none;
  line-height: 120%;
}
.userContainer {
  width: max-content;
  background-color: rgb(62, 63, 61);
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 0 0 rgb(228, 154, 43);
  transform: translateX(-1px) translateY(-2px);
  transition: all ease-in-out 100ms;
  color: rgb(228, 154, 43);
}
.userContainer:hover {
  box-shadow: 2px 2px 0 0 aqua;
  color: aqua;
  transition: all ease-in-out 100ms;
}

.btnName {
  display: flex;
  align-items: center;
  gap: 8px;
}
